.createapi {
  .createapi-form {
    md-input-container {
      padding-left: 12px;
      padding-right: 12px;
    }
    .createapi-submit {
      margin-bottom: 16px;
    }
  }
  .createapi-preview-img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}