<div layout="column" class="createapi" flex>
  <md-toolbar class="md-whiteframe-z2 content-toolbar">
    <div class="md-toolbar-tools">
      <h2 class="md-toolbar-item">広告取得APIの作成</h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <md-content>
      <p>スマートデバイス向け広告が正しく表示されているかを確認できるツールです。下記のフォームに広告ページとQuerySelector、User Agent、機種を入力してください。</p>
    </md-content>
    <md-content class="md-whiteframe-z1 createapi-form">
      <form layout="column">
        <md-input-container>
          <label for="tag-url">広告URL</label>
          <input ng-model="tagUrl" type="text" class="md-input" id="tag-url">
        </md-input-container>
        <md-input-container>
          <label for="tag-query-selector">QuerySelector</label>
          <input ng-model="tagQuerySelector" type="text" class="md-input" id="tag-query-selector">
        </md-input-container>
        <div layout="row">
          <md-input-container flex="50">
            <label for="tag-user-agent">UserAgent</label>
            <input ng-model="tagUserAgent" type="text" class="md-input" id="tag-user-agent">
          </md-input-container>
          <md-input-container flex="50">
            <label for="tag-device">機種</label>
            <input ng-model="tagDevice" type="text" class="md-input" id="tag-device">
          </md-input-container>
        </div>
        <md-button class="md-raised md-warn createapi-submit">
          広告取得APIを作成する
        </md-button>
      </form>
    </md-content>
  </md-content>
</div>